body{
	font-size:17px;
	font-family:arial;
	background: #f4f4f4;
	line-height:1.5rem;
}

header{
	background:#333;
	color:white;
	padding:20px;
	text-align:center; 
	border-bottom:4px #000 solid;
	margin-bottom: 10px;
}

#container{
	width:90%;
	margin:auto;
	padding:10px; 
}

.d-flex{
	display:flex;
	justify-content: center;
}

.box{
	background: #333;
	color:white;
	width: 500px;
	height: 90px;
	padding:40px;
	text-align:center;
	margin: 10px 10px 10px 0px;
}

.box2{
	background: red;
	width:100px;
	color: white;
	height: 100px;
	position: relative;
	text-align:center;
	line-height:100px;
}