body{
	font-size:17px;
	font-family:arial;
	background: #f4f4f4;
	line-height:1.5rem;
}

header{
	background:#333;
	color:white;
	padding:20px;
	text-align:center; 
	border-bottom:4px #000 solid;
	margin-bottom: 10px;
}

#container{
	width:90%;
	margin:auto;
	padding:10px; 
}

.myclass{
	color: yellow;
	font-weight: 700;
	font-family:'Times New Roman', Times, serif;
	background-color:black;
	padding:10px 0px;
	text-align:center;
}

.border{
	border: 2px solid red;
}